.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hamburger */
.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
  content: ' ';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #130849;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px);
}

.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
display: none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
/* Hamburger */

.text3d > div{
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  background-color: #00000088;
  color: white;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
}